{% extends 'base.html' %}
{% block content_title %}Confirm Password Reset{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Confirm password reset</h2>
            <p>Enter your new password below.</p>
            <form method="post" action="{% url 'password_reset_confirm' uidb64=uidb64 token=token %}">
                {% csrf_token %}

                <!-- New Password Input -->
                <div class="form-group">
                    <label for="id_new_password">New Password:</label>
                    <input type="password" name="new_password" id="id_new_password" class="form-control" required>
                </div>

                <!-- Confirm New Password Input -->
                <div class="form-group">
                    <label for="id_new_password_confirm">Confirm New Password:</label>
                    <input type="password" name="new_password_confirm" id="id_new_password_confirm" class="form-control" required>
                </div>

                <!-- Submit Button -->
                <button type="submit" class="btn btn-primary">Set New Password</button>
            </form>
        </div>
    </div>
{% endblock %}
