{% extends 'base.html' %}
{% load static %}

{% block content_title %}
    <div class="container mt-1">
        <h2 class="display-5 text-center">Checkout</h2>
        <hr>
    </div>
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div id="payment-errors" class="alert alert-danger" role="alert" style="display: none;"></div>

        <form id="payment-form">
            {% csrf_token %}

            <div id="card-element"></div>
            <div id="card-errors" role="alert"></div>
            <button id="submit-button" class="btn btn-primary mt-3">Pay Now</button>
            <input type="hidden" name="client_secret" value="{{ client_secret }}">
        </form>

        <ul>
            {% for item in items %}
                <li>{{ item.quantity }} x {{ item.price_data.product_data.name }}</li>
            {% endfor %}
        </ul>

        <p>Total Amount: ${{ cart.get_total_price|floatformat:2 }}</p>
    </div>

    <script src="https://js.stripe.com/v3/" defer></script>
    <script src="{% static 'js/stripe.js' %}" defer></script>
    <script>
        var stripe = Stripe('pk_test_51OGvLoBfoLOjTuhJWWx8cnFFSDuJNXTaymUEe8fBWLcjZNbYtGDCw400Sf76gmKHQzeqlrGVYfyHW0lc82jy5BJ100VIfvEmBc');
        var elements = stripe.elements();
        var card = elements.create('card');
        card.mount('#card-element');

        card.addEventListener('change', function (event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });

        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function (event) {
            event.preventDefault();
            document.getElementById('submit-button').disabled = true;

            stripe.confirmCardPayment('{{ client_secret }}', {
                payment_method: {
                    card: card,
                }
            }).then(function (result) {
                if (result.error) {
                    displayError.textContent = result.error.message;
                    document.getElementById('submit-button').disabled = false;
                } else {
                    if (result.paymentIntent.status === 'succeeded') {
                        window.location.href = '/payment_success/';
                    }
                }
            });
        });
    </script>
{% endblock %}
