{% extends 'base.html' %}

{% block content_title %}
    <div class="container mt-1">
        <h2 class="display-5 text-center">Update Employee Information</h2>
        <hr>
    </div>
{% endblock %}

{% block content %}
    <!-- Update Employee page -->
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form method="post" action="{% url 'employee_update' employee_id=employee_id %}" class="mt-4">
                {% csrf_token %}
                
                <!-- Fields from Employee model -->
                {{ employee_form.as_p }}

                <button type="submit" class="btn btn-success">Update Employee Information</button>
            </form>
        </div>
    </div>
{% endblock %}
